<div [ngStyle]="{display: 'flex', flexDirection: 'column', margin: '20px'}">
    <mat-card>
        <mat-card-header>
          <mat-card-title>{{product.id}}</mat-card-title>
          <mat-card-subtitle>Name: {{product.name}}</mat-card-subtitle>
          <mat-card-subtitle>Description: {{product.description}}</mat-card-subtitle>
          <mat-card-subtitle>InventoryStock: {{product.inventoryStock}}</mat-card-subtitle>
          <mat-card-subtitle>Price: {{product.price}}</mat-card-subtitle>
          <mat-card-subtitle>Category: {{product.category}}</mat-card-subtitle>
          <mat-card-subtitle>BranchId: {{product.branchId}}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
  </div>