<mat-toolbar color = "primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon >menu</mat-icon>
        </button> Inventory
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav  #sidenav opened mode="side" [ngStyle]=" {margin: '0 10px 0 10px'}">
        <mat-expansion-panel *ngIf="currentUserRole === ''">
            <mat-expansion-panel-header ><a mat-list-item routerLink="/login"> <mat-icon>login</mat-icon> Auth</a></mat-expansion-panel-header>
            <mat-nav-list>
            <a mat-list-item > <mat-icon>home_add</mat-icon> User Login </a>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="currentUserRole === 'SUPER'">
            <mat-expansion-panel-header ><a mat-list-item routerLink="/branches"> <mat-icon>home</mat-icon> Branches</a></mat-expansion-panel-header>
            <mat-nav-list>
            <a mat-list-item (click)="goToBranchForm()"> <mat-icon>home_add</mat-icon> New branch</a>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="currentUserRole === 'SUPER' || currentUserRole === 'ADMIN'">
            <mat-expansion-panel-header><a mat-list-item routerLink="/products"> <mat-icon>people</mat-icon>  Products</a></mat-expansion-panel-header>
            <mat-nav-list >
            <a mat-list-item (click)="goToProductForm()"> <mat-icon>person_add</mat-icon> New product</a>
            <a mat-list-item (click)="goToAddStockForm()"> <mat-icon>person_add</mat-icon> Add Stock</a>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-nav-list *ngIf="currentUserRole === 'SELLER'">
            <a mat-list-item routerLink="/products"><mat-icon>people</mat-icon>  Products</a>
        </mat-nav-list>
        <mat-expansion-panel *ngIf="currentUserRole === 'SUPER' || currentUserRole === 'ADMIN'">
            <mat-expansion-panel-header ><a mat-list-item routerLink="/invoices"> <mat-icon>library_books</mat-icon> Invoices</a></mat-expansion-panel-header>
            <mat-nav-list>
            <a mat-list-item (click)="goToInvoiceForm()"> <mat-icon>library_add</mat-icon> New sale</a>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-nav-list *ngIf="currentUserRole === 'SELLER'">
            <a mat-list-item (click)="goToInvoiceForm()"> <mat-icon>library_add</mat-icon> New sale</a>
        </mat-nav-list>
        <mat-expansion-panel *ngIf="currentUserRole === 'SUPER' || currentUserRole === 'ADMIN'">
            <mat-expansion-panel-header ><a mat-list-item routerLink="/users"> <mat-icon>people</mat-icon> Users</a></mat-expansion-panel-header>
            <mat-nav-list>
            <a mat-list-item (click)="goToUserForm()"> <mat-icon>person_add</mat-icon> New user</a>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="currentUserRole === 'SUPER' || currentUserRole === 'ADMIN'">
            <mat-expansion-panel-header ><a mat-list-item routerLink="/suppliers"> <mat-icon>people</mat-icon> Suppliers</a></mat-expansion-panel-header>
            <mat-nav-list>
            <a mat-list-item (click)="goToSupplierForm()"> <mat-icon>person_add</mat-icon> New supplier</a>
            </mat-nav-list>
        </mat-expansion-panel>

    </mat-sidenav>
    
      <mat-sidenav-content >
        <div [ngStyle]="{ 'margin-left': '30px', height: '88vh' }">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
