<div *ngIf="total > 0" [ngStyle]="{display: 'flex', flexDirection: 'column'}">
    <app-supplier-card *ngFor="let i_supplier of l_suppliers | paginate: { itemsPerPage: count, currentPage: p } " [supplier]="i_supplier">
    </app-supplier-card>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <ng-container *ngIf="total > 0; else noStudentsFound">
        <br/>
        <div>
          <h4 class="result_text">Founded: {{ total }}</h4>
        </div>
      </ng-container>
      <ng-template #noStudentsFound>
        <div>
          <h4 class="result_text">There is no products, start adding one</h4>
        </div>
    </ng-template>
    