<div [ngStyle]="{display: 'flex', flexDirection: 'column', margin: '20px'}">
    <mat-card>
        <mat-card-header>
          <mat-card-title>{{supplier.id}}</mat-card-title>
          <mat-card-subtitle>Name: {{supplier.name}}</mat-card-subtitle>
          <mat-card-subtitle>Number: {{supplier.number}}</mat-card-subtitle>
          <mat-card-subtitle>Email: {{supplier.email}}</mat-card-subtitle>
          <mat-card-subtitle>Payment Term: {{supplier.payment_term}}</mat-card-subtitle>
          <mat-card-subtitle>BranchId: {{supplier.branchId}}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
  </div>