<div [ngStyle]="{display: 'grid', 'grid-template-columns': 'repeat(auto-fit, 150px)'}">
    <form [formGroup] = "productForm" ngClass="save">
        <mat-form-field appearance="fill" >
            <mat-label>Name: </mat-label>  <input matInput placeholder="Insert name" formControlName="name" required/>
            <mat-error *ngIf="input.invalid" >{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>LastName: </mat-label> <input matInput placeholder="Insert lastname" formControlName="last_name" required/>
            <mat-error *ngIf="input.invalid" >{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>Email: </mat-label> <input matInput placeholder="Insert email" formControlName="email" required/>
            <mat-error *ngIf="input.invalid" >{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>Password: </mat-label> <input matInput placeholder="Insert password" formControlName="password" required/>
            <mat-error *ngIf="input.invalid" >{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>Role: </mat-label> <input matInput placeholder="Insert role" formControlName="role" required/>
            <mat-error *ngIf="input.invalid" >{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <div [ngStyle]="{display: 'grid', margin: '5px', 'grid-template-columns': 'repeat(auto-fit, 150px)', gap: '5px'}">
          <button mat-raised-button color="primary" [disabled]="productForm.invalid" (click)="onSubmit()">Save</button>
          <button mat-raised-button color="warn" routerLink="/home">Go Back</button>
        </div>
    </form>
</div>